body {
    background-color: lightblue;
}
p{
    font-family: Arial;
}
h1 {
    color: blue;
    font-size: 25px;
    }
    
header 
     .byline {
        font-weight: bold;
        font-style: italic;
        color: darkcyan; 
        font-size: small;
     }

     footer {
        border: black solid thin;
        padding-left: 5px;
        border-radius: 8px; 
    }