.btn-padding {
    padding: 25px;
    border: 10px green double;    
    border-radius: 22px;
}

.btn-padding:hover {
    background-color: aqua;
    border-color: white;
}

.btn-margin-padding {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 15px green;
    border-style: ridge; 
    }

.btn-margin-padding:active {
     background-color: red; 
   
    }

#button-wrapper {
    background-color: aquamarine;
    display: inline-block;
    border: thin black solid; 
}