body {
    background-color: lavender;
}
h1 {
    font-family: fantasy;
    color: darkorchid;
}
p {
    color: mediumpurple;
    font-size: 20px;
}
header p {
    font-weight: bold;
    color: blue; 

}

.blueBackground {
    background-color: aqua;
}

.greenBackground {
    background-color: green;
} 