body {
    background-color: cornflowerblue;
    max-width: 500px;
    margin: auto; 

}

p{
    font-family: Arial;
}
h1 {
    color: blue;
    font-size: 25px;
    }

 h2 {
    color: green;
    font-size: 20px;
    }

header {
    background-color: dodgerblue;
}

header p {
        font-weight: bold;
        font-style: italic;
        color: blue; 
     }

                  
nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}

 .elf-div-border {
    border: 1px black solid;
    text-align: left;
    font-size: 24px;
    font-style: bold;
    clear: both;
}

aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;         
}
      

main {
    background-color: deepskyblue;
}

.red-heading {
    color: red;
}

.blue-text {
     color: blue;
}
#new-font {
    font-family: fantasy, cursive, serif;


 footer {
     background-color: dodgerblue;
     border: black solid thin;
     padding-left: 5px;
     border-radius: 8px; 
 }

 figure.left {
     float:left;
    }
              
section.{
     clear: both;
}

footer.clear {
    clear: both;
}


.blueBackground {
    background-color: aqua;
}

.greenBackground {
    background-color: green;
} 