body {
    background-color: cornflowerblue;
}
p{
    font-family: Arial;
}
h1 {
    color: blue;
    font-size: 25px;
    }

 h2 {
    color: green;
    font-size: 20px;
    }

header {
    background-color: dodgerblue;
}

header p {
        font-weight: bold;
        font-style: italic;
        color: blue; 
     }

.red-heading {
    color: red;
}

.blue-text {
     color: blue;
}
#new-font {
    font-family: fantasy, cursive, serif;
}
 footer {
     background-color: dodgerblue;
     border: black solid thin;
     padding-left: 5px;
     border-radius: 8px; 
 }

 figure.left {
     float: left;
    }
              
 }