body {
    background-color: lightblue;
    max-width: 700px;
    margin: auto; 
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 20px;
}
h1 {
    color: blue;
    font-size: 25px;
    font-family: fantasy;
    }

    h2  {
        color: royalblue;
        font-family: fantasy;
    }

    h3 {
        color: navy;
        font-family: fantasy;
    }
header 
     .byline {
        font-weight: bold;
        font-style: italic;
        color: darkcyan; 
        font-size: small;
     }

header p {
         font-weight: bold;
        font-style: italic;
        color: blue; 
    }

aside {        
        background-color: bisque;
        border: black 1px solid;
        border-radius: 8px;
        float: right;
        font-style: italic;
        margin-right: 5px;
        padding: 8px;
        width: 33%; 
    
                      
 nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
    
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
nav li {
     display: inline;
    padding: 8px;  
    font-size: 20px; 
}

footer {
    background-color: dodgerblue;
    border: black solid thin;
    padding-left: 5px;
    border-radius: 8px; 
    font-size: 14px;
    font-family: cursive;
}

 figure.left {
     float:left;
    }
              
section.{
     clear: both;
}

footer.clear {
    clear: both;
}
    